# Fichiers sensibles
auth/*
config/channels/*.yaml
!config/channels/channel.example.yaml
*.env
*.key
*.json

# Fichiers générés
*.log
*.mp4
__pycache__/
*.pyc

# Environnements virtuels
venv/
.env/

# Fichiers d'état
publishing_state.json